.movies__container {
  margin-top: 3rem; }
  .movies__container h2 {
    margin-bottom: 0; }
  .movies__container__list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
    justify-content: space-between; }
    .movies__container__list > div {
      flex-basis: calc(100% * 1/3 - 2rem); }
