.movies {
  &__container {
    margin-top: 3rem;

    h2 {
      margin-bottom: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      flex: 1 auto;
      justify-content: space-between;

      > div {
        flex-basis: calc(100% * 1/3 - 2rem);
      }
    }
  }
}
